<div class="p-3">My News</div>
<ul class="list-group list-group-flush">
    <% @news_categories.each do |category| %>
    <%= link_to category, send("#{category}_path"), class: "list-group-item" %>
    <% end %>
</ul>